<h1>Welcome to EBakery</h1>

<%= image_tag("woman-beside-bottles-and-cupboard-1089570.jpg", class: "img-fluid border border-dark shadow-lg p-3 mb-5 bg-white rounded ") %>


<%= button_to "View Menu", items_path, method: :get, class: "btn btn-secondary btn-lg border border-dark rounded"%>